<!DOCTYPE html>
<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet"  href="/index.css"/>
        <%-style%>
      
    </head>
    <body>
        <%- include('_header');%>

        <%- body %>

        <%- include('_fotter');%>
    </body>
</html>